@using Music.ViewsModels
@model IEnumerable<Music.Models.Song>

@{
    ViewData["Title"] = "Index";
    var pager = new PageViewModel();
    var pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<h1>Все треки</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">добавить песенку</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlSong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album.Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var song in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => song.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => song.UrlSong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => song.Album.Name)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                <a asp-action="Edit" asp-route-id="@song.Id">Изменить</a>
                < a asp - action = "Delete" asp - route - id = "@song.Id" > Удалить </ a >
                }
                else if (User.IsInRole("User"))
                {
                    // логика добавление удаление из избранного
                }
                <a asp-action="Details" asp-route-id="@song.Id">Рассмотреть</a> 
            </td>
        </tr>
}
    </tbody>
</table>

<div class="container">
    @if(pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">
            @for (var pge = pager.StartPage; pge <= pager.EndPage;pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="Songs" asp-action="Index" asp-route-page ="@pge">@pge</a>
                </li>
            }
        </ul>
    }
</div>
