@using Music.ViewsModels
@model IEnumerable<Music.Models.Album>

@{
    ViewData["Title"] = "Index";
    var pager = new PageViewModel();
    var pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<h1>Все альбомы</h1>
    @if (ViewBag.ArtistId != null)
    {
        <p>
            <a asp-action="Create" asp-route-id="@ViewBag.ArtistId"
               class="btn btn-primary">
                <i class="bi bi-pencil"></i> Добавить альбом
            </a>
        </p>
    }
<div class="container py-5">
    <h1 class="text-center mb-5">Альбомы</h1>

    <div class="row">
            @foreach (var album in Model) 
            {
                    <div class="card artist-card mb-4" style="width: 18rem;">

                            <!-- Изображение альбома -->
                            <img src="@Url.Content(album.UrlImg)"
                                 class="card-img-top"
                                 alt="@album.Name"
                                 asp-append-version="true">

                            <div class="card-body">
                                <!-- Имя альбома -->
                                <h5 class="card-title">@album.Name</h5>
                                <!-- Кнопки действий -->
                                <div class="d-flex flex-wrap gap-2">
                                    @* <!-- Изменение альбома -->
                                    <a asp-controller="Albums" asp-action="Edit" asp-route-id="@album.Id"
                                       class="btn btn-outline-primary btn-sm">
                                        <i class="bi bi-collection"></i> Изменить
                                    </a> *@
                                    <!-- Песни -->
                                   <a asp-controller="Songs" asp-action="SoundLibraryAlbum" asp-route-albumId="@album.Id"
                                        class="btn btn-outline-primary btn-sm">
                                          <i class="bi bi-music-note-list"></i> Песни
                                   </a>
                                    <!-- Изменить -->
                                    <a asp-action="Edit" asp-route-id="@album.Id"
                                       class="btn btn-outline-warning btn-sm">
                                        <i class="bi bi-pencil"></i> Изменить
                                    </a>

                                    <!-- Удалить -->
                                    <a asp-action="Delete" asp-route-id="@album.Id"
                                       class="btn btn-outline-danger">
                                        <i class="bi bi-pencil"></i> Удалить
                                    </a>
                                    <!-- Детали -->
                                    <a asp-action="Details" asp-route-id="@album.Id"
                                       class="btn btn-outline-warning btn-sm">
                                        <i class="bi bi-pencil"></i> Рассмотреть
                                    </a>
                                </div>
                            </div>
                    </div>

            }
    </div>
</div>
<div class="container">
    @if (pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">
            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="Albums" asp-action="Index" asp-route-page="@pge">@pge</a>
                </li>
            }
        </ul>
    }
</div>
